.back_link {
    display: flex;
    align-items: center;
    color: #1D2329;
    font-size: 18px;
    text-decoration: none;
}

.sub_header_wrapper {
    block-size: 218px;
    border-bottom: 1px solid #C6C6C6;
}

.arrow_icon {
    margin-inline-end: 12px;
}
