@import "src/styles/variables-keys";

.line_chart {
    background-color: var($primaryWhite);
    border: 1px solid #BDC2C7;
    max-block-size: 450px;
    padding: 12px;
    margin: 20px 20px 20px 0;
}
