@import "src/styles/variables-keys";

.line_chart {
    background-color: var($primaryWhite);
    border: 1px solid #BDC2C7;
    max-inline-size: 500px;
    max-block-size: 400px;
    padding: 12px;
    margin: 20px;
}
