@import "src/styles/variables-keys";

.experiment_table_wrapper {
  font-size: 14px;
  margin-block-start: 30px;
  margin-block-end: 50px;
  display: flex;
  flex-wrap: wrap;
}

.experiment_table {
  text-align: center;
  
  th:first-child,
  td:first-child {
    inline-size: 80px;
  }
}