@import "src/styles/variables-keys";
@import "src/styles/z-index";

.experiment_table_wrapper {
  font-size: 14px;
  margin-block-start: 60px;
  margin-block-end: 60px;
  display: flex;
  flex-wrap: wrap;

  table {
    border-spacing: 0;
    border: 1px solid var($backgroundColorGray);
  }
}

.experiment_table_titles {
  padding: 16px;
  background-color: var($attPurple);
  color: var($backgroundColorWhite);
  width: fit-content;
}

.experiment_table_content {
  background-color: var($backgroundColorWhite);

  td {
    padding: 16px;
    border-bottom: 1px solid var($backgroundColorGray);
    text-align: center;
    vertical-align: middle;
  }
}
