@import "src/styles/variables-keys";

$subHeaderColor: #7F848A;

.sub_header_wrapper {
    background-color: var($primaryWhite);
    block-size: 300px;
    z-index: 2;
    padding: 12px 24px 0 30px;
}

.close {
    block-size: 60px;
}

.toggle_button {
    display: flex;
    align-items: center;
    color: var($attPurple);
    font-size: 18px;

    .arrow_icon {
        margin-inline-end: 12px;
    }
}

.sub_header_action_buttons {
    display: flex;
    justify-content: space-between;
}

.sub_header_action_buttons_close {
    margin-block-start: 6px;
}

.close_button {
    background-color: #F5F1FF;
    inline-size: 34px;
    block-size: 34px;
    border-radius: 50%;
}

.sub_header_title {
    font-size: 20px;
    color: $subHeaderColor;
}

.items_wrapper {
    display: flex;
    margin-block-start: 40px;
    transition: opacity 0.5s ease, max-block-size 0.5s ease;
    opacity: 0;
    max-block-size: 0;
    overflow: hidden;
}

.item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: $subHeaderColor;
    white-space: pre;
}

.item_icon_wrapper {
    display: flex;
    align-items: center;
}

.item_icon {
    border: 1px solid $subHeaderColor;
    border-radius: 50%;
    inline-size: 46px;
    block-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_description {
    line-height: 24px;
    margin-block-start: 12px;
    font-size: 16px;
}

.sperator {
    inline-size: 100%;
    block-size: 1px;
    background-color: $subHeaderColor;
}

.items_wrapper_open {
    opacity: 1;
    max-block-size: 500px;
}

.items_wrapper_close {
    opacity: 0;
    max-block-size: 0;
}
