@import "src/styles/variables-keys";

.experiment_wrapper {
    padding: 40px;
}

.tabs_and_options_wrapper {
    position: sticky;
    inset-block-start: 6%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    background-color: rgba(var($applicationContentBackgroundColor), 1);
    padding-block-end: 1%;
    margin-block-end: -1.5%;
}

.table_options_wrapper {
    position: relative;
}

.spinner_wrapper {
    position: sticky;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    text-align: center;   
}

.spinner_overlay {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    background-color: #fff;
    opacity: 0.6;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 4;
}
