@import "src/styles/variables-keys";

.latest_experiments_wrapper {
    margin-inline-start: 160px;
    margin-inline-end: 80px;

    .latest_experiments_title {
        size: 18px;
    }

    .latest_experiments_table {
        background-color: var($backgroundColorWhite);
        margin-block-start: 40px;
        text-align: center;
        padding-inline: 30px;
        padding-block: 10px;

        th {
            background-color: var($backgroundColorWhite);
            color: var($textBlack);
            border-bottom: 1px solid var($dividerColorGray);
        }
        td {
            border: none;
        }

        .experiment_name {
            color: var($attPurple);
            cursor: pointer;
            border: none;
        }
        .experiment_link {
            color: var($attPurple);
            cursor: pointer;
            text-decoration: none;
        }
    }
}
