@import "src/styles/variables-keys";

.latest_experiments_wrapper {
    margin-inline-start: 160px;
    margin-inline-end: 80px;

    .title_link_wrapper {
        display: flex;
        justify-content: space-between;

        .latest_experiments_title {
            size: 18px;
        }

        .all_experiments_link {
            inset-inline-end: 100px;
            margin-block-start: 50px;
            color: var($attPurple);
            cursor: pointer;
            text-decoration: none;
        }
    }
    
    .latest_experiments_table {
        border-radius: 20px;
        background-color: var($backgroundColorWhite);
        margin-block-start: 30px;
        text-align: center;
        padding: 10px 30px;

        th {
            background-color: var($backgroundColorWhite);
            color: var($textBlack);
            border-bottom: 1px solid var($dividerColorGray);
        }
        td {
            border: none;
        }

        .experiment_name {
            color: var($attPurple);
            cursor: pointer;
            border: none;
        }
        
        .experiment_link {
            color: var($attPurple);
            cursor: pointer;
            text-decoration: none;
        }
    }
}
