.icon {
    inline-size: 14px;
    margin-inline-end: 12px;
}

.input_wrapper {
    display: flex;
    align-items: center;
}

.value {
    margin-block-start: 5px;
}

.placeholder {
    color: #878c94;
}
