@import "src/styles/variables-keys";

.charts_wrapper {
    margin-block-start: 20px;
}

.title {
    font-family: var($fontMedium);
    font-size: 18px;
    margin-block-end: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block-end: 30px;
}

.chart_item {
    flex: 0 0 calc(50% - 15px);
    box-sizing: border-box;
}
