@import "src/styles/variables-keys";

.experiments_wrapper {
  padding-inline: 80px;
  padding-block: 40px;
  margin-block: 60px;
}

.title_options_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .experiments_title {
    font-size: 20px;
    font-family: var($fontMedium);
    margin-inline-start: 150px;
  }

  .options_wrapper {
    margin-inline-end: 50px;
    
    .trash_icon {
      background-color: #F5F1FF;
      inline-size: 34px;
      block-size: 34px;
      border-radius: 50%;
    }
  }
  
  .options_wrapper:hover .hover_image {
    display: block;
  }
  
  .options_wrapper:hover .default_image {
    display: none;
  }
  
  .default_image {
    padding-inline: 11px;
    display: block;
  }
  
  .hover_image {
    display: none;
  }
}

.experiments_table {
  text-align: left;
  
  th:first-child,
  td:first-child {
    text-align: center;
    inline-size: 80px;
  }
}

.input_form_item {
  display: none;
}

.input_option {
  margin-block-end: -5px;

  .input_option_checkbox_icon {
    margin-inline-end: 10px;
    cursor: pointer;
  }
}

.spinner_wrapper {
  position: sticky;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  text-align: center;   
}

.spinner_overlay {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  background-color: var($primaryWhite);
  opacity: 0.6;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 4;
}

