@import "src/styles/variables-keys";

$inputBorderColor: #DCDFE3;
$required: #FF585D;
$titlesColor: #1D2329;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.experiment_title {
  size: 18px;
  margin-block-end: 0;
}

.note {
  display: flex;
  align-items: center;
  margin-block-end: 20px;
}

.note_title {
  margin-right: 10px;
  font-weight: bold;
}

.form_item { 
  display: flex;
  flex-direction: column;
  inline-size: 709px;
  font-size: 14px;
}

.select_form_item {
  max-inline-size: 709px;
  margin-block-start: 4px;
  min-block-size: 50px;
  #{$selectControlHeight}: 48px;
}

.input_form_item {
  max-inline-size: 240px;
  block-size: 38px;
  border: 1px solid $inputBorderColor;
  border-radius: 44px;
  inline-size: 100%;
  margin-block-start: 4px;
  block-size: 50px;
  padding-inline: 22px;
}

.run_button {
  inline-size: 120px;
  margin-inline-end: 20px;
}

.protocol_query_wrapper {
  display: flex;
  flex-direction: column;
}

.export_button {
  margin-inline-start: 30px;
}

.form_item_label {
  color: $titlesColor;
  margin-block-end: 8px;
}

.form_item_text_area {
  max-inline-size: 709px;
  margin-block-start: 4px;
  border-radius: 20px;
  #{$selectControlHeight}: 48px;
  border: 1px solid $inputBorderColor;
  
  block-size: 150px;
  padding: 22px;
}

.submitButtonWrapper {
  display: flex;
  align-items: center;
  margin-block-start: 30px;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
}

.text {
  margin-inline-start: 8px;
}

.required {
  color: $required;
}
