@import "src/styles/variables-keys";

.wrapper {
  display: flex;
  gap:21px;
  flex-wrap: wrap;
}

.error {
  color: var($attBerry);
}

.form_item { 
  display: flex;
  flex-direction: column;
  inline-size: 320px;
  font-size: 14px;
}

.select_form_item {
  max-inline-size: 795px;
  margin-block-start: 4px;
  min-block-size: 48px;
  #{$selectControlHeight}: 48px;
}

.input_form_item {
  block-size: 38px;
  border: 1px solid #dcdfe3;
  border-radius: 2px;
  inline-size: 100%;
  outline: none;
  padding: 8px;
  margin-block-start: 4px;
  block-size: 48px;
}

.run_button {
  margin-block-start: 21px;
}

.protocol_query_wrapper {
  display: flex;
  align-items: flex-end;
}

.export_button {
  margin-inline-start: 30px;
}
