@import "src/styles/variables-keys";

.algorithms_input_option {
  margin-inline-end: 10px;
  margin-inline-start: 25px;
  cursor: pointer;
}

.algorithms_input_option_title {
  margin-inline-end: 10px;
  cursor: pointer;
}

.option_wrapper {
  inline-size: 17px;
  block-size: 17px;
  margin-inline-end: 12px;
}

.iterations_input_option {
  margin-inline-end: 10px;
  cursor: pointer;
}

.input_option {
  display: none;
}