@import "src/styles/variables-keys";

.experiment_tab_button_wrapper {
  display: contents;
}

.experiment_tab_button {
  color: var($attPurple);
  font-size: 16px;
  margin-block-start: 30px;
  margin-inline-end: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;

  &:after {
    content: "";
    display: block;
    block-size: 3px;
    background-color: var($attPurple);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: -10px;
  }

  &.selected:after {
    transform: scaleX(1);
  }
}
