$checkboxUncheckColor: --att-checkbox-uncheck-color;
$checkboxUncheckBackgroundColor: --att-checkbox-uncheck-background-color;
$checkboxCheckBackgroundColor: --att-checkbox-check-background-color;
$checkboxSize: --att-checkbox-size;
$checkboxColor: --att-checkbox-color;
