@import 'src/styles/variables-keys';
@import 'src/styles/colors';
@import './Checkbox.reference';

$disableCheckboxColor: #d2d2d2;
$disableTextColor: #959595;
$checkboxDefaultSize: 25px;
$checkboxDefaultHoverColor: $attPurple;
$checkboxDefaultColor: var($attCobalt);
$checkboxDefaultCheckboxColor: #dcdfe3;
$checkboxDefaultUncheckBackgroundColor: transparent;
$checkboxDefaultCheckBackgroundColor: transparent;

.checkbox_container {
  align-items: center;
  cursor: pointer;
  display: inline-flex;

  &.checkbox_disabled {
    color: $disableTextColor;
    cursor: default;
  }

  &:hover {
    .att_checkbox_style {
      color: var($checkboxColor, $checkboxDefaultHoverColor);
    }
  }
}

.att_checkbox_style {
  margin-inline-end: 10px;
}

.checkbox_input {
  & + .att_checkbox_style {
    border-radius: 1px;
    color: var($checkboxUncheckColor, $checkboxDefaultCheckboxColor);
    font-size: var($checkboxSize, $checkboxDefaultSize);
  }

  &:not(:checked) {
    & + .att_checkbox_style {
      background-color: var($checkboxUncheckBackgroundColor, $checkboxDefaultUncheckBackgroundColor);
    }
  }

  &:checked {
    & + .att_checkbox_style {
      background-color: var($checkboxCheckBackgroundColor, $checkboxDefaultCheckBackgroundColor);
      color: var($checkboxColor, $checkboxDefaultColor);
    }

    &:disabled {
      & + .att_checkbox_style {
        color: $disableCheckboxColor;
      }
    }
  }

  &:not(:checked):disabled {
    & + .att_checkbox_style {
      background-color: $disableCheckboxColor;
      color: $disableCheckboxColor;
    }
  }
}
