@import "src/styles/variables-keys";

.wrapper {
  flex: 1 0 48%;
  background-color: #fff;
  border: 1px solid #BDC2C7;
  padding: 16px;
  min-width: 100px;
}
.name {
  font-family: var($fontMedium);
  padding-block-end: 16px;
}
